/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
npm-debug.log
/public/building-images
/public/images/qrcodes/*
/public/generated-pdfs/*

# Bower unwanted files for public access
/public/vendor/**/src
/public/vendor/**/test
/public/vendor/**/tests
/public/vendor/**/examples
/public/vendor/**/example
/public/vendor/**/demo
/public/vendor/**/demos
/public/vendor/**/README.md
/public/vendor/**/CHANGELOG.md
/public/vendor/**/Readme.txt
/public/vendor/**/bower.json
/public/vendor/**/.bower.json
/public/vendor/**/package.json
/public/vendor/*/*.html
/public/vendor/*/LICENSE.md
/public/vendor/*/CHANGE.md
/public/app
